.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00910E;
    height: 100vh;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .logo {
    font-size: 36px;
    font-weight: bold;
    color: white;
  }
  
  .hub {
    color: #00910E;
    background-color: white;
    border-radius: 5px;
    padding: 0 5px;
  }
  
  .formContainer {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    width: 80%;
  }
  
  .input {
    height: 40px;
    width: 100%; /* Asegura que el input ocupe todo el ancho disponible */
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box; /* Esto hace que el padding y el border no aumenten el tamaño total del input */
  }
  
  .enterButton {
    background-color: #00910E;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
  }
  
  .toggleButton {
    margin-top: 15px;
  }
  
  .toggleButton:hover {
    cursor: pointer;
  }
  
  .toggleText {
    color: white;
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .formContainer {
      width: 95%;
      padding: 15px;
    }
    
    .logo {
      font-size: 28px;
    }
    
    .input {
      height: 35px;
    }
    
    .enterButton {
      padding: 8px;
    }
  }
  