.cell-container {
    background-color: #fff;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .thumbnail {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .details-container {
    padding: 10px;
  }
  
  .title-input {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 4px;
  }
  
  .date-text {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
  }
  
  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .close-button {
    background-color: #ff3b30;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
  }
  
  .error-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8d7da;
  }
  
  .error-text {
    color: #721c24;
    font-size: 16px;
    font-weight: bold;
  }
  
  .watched-button {
    background-color: #00910e;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
  }
  
  .watched-active {
    background-color: #ff3b30;
  }
  
  .watched-button:hover {
    cursor: pointer;
  }
  
  .watched-button-text {
    color: #fff;
    font-size: 16px;
  }
  
  .thumbnail-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  